<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Jonathan Lai">
    <meta name="keywords" content="Carnegie Mellon University, Information Systems">
    <meta name="description" content="Jonathan Lai professional website">
    <title>Jonathan Lai</title>
    <link rel="stylesheet" href="../static/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script defer src="../static/script.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
</head>
<body onload=" addYear()">
    <header>
        <h1 id="webname">Jonathan Lai</h1>
        <nav id="myTopnav" class="topnav">
            <a href="index.html" class="active">Home</a>
            <a href="cv.html">CV</a>
            <a href="contact.html">Contact Me</a>
            <a href="fun.html">For Fun</a>
            <a href="javascript:void(0);" class="icon" >
                <i class="fa fa-bars" onclick="activeNav()"></i>
              </a>
        </nav>
    </header>
    <div class ="main">
        <h2 id ="greeting"></h2>
        <image class="classA" src="../static/photo_of_me.png" alt="Jonathan Lai profile image" width="350px"></image>
        <div class="classA">
            <span id="shortIntro">I am a 2nd year CMU IS student. I just transferred to IS this semester and I love it !!!</span>
            <span id="readMore"> read more ...</span>
            <span id="longIntro">Enjoy this website that I made I totally spent many hours on it.</span>
            <span id="readLess"> read less</span>
        <!-- <p id="intro">
            I am a 2nd year CMU IS student. I just transferred to IS this semester and I love it !!! Enjoy this website that I made I totally spent many hours on it.
        </p> -->
        </div>
    </div>
    <footer>
        <p id="copyYear">Jonathan Lai &copy</p>
    </footer>

</body>
</html>